<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/product_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Product Display</h3>
      <%= render 'shared/display' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to Order Form!</h1>

    <h2>
      Manage product orders from anywhere.
    </h2>

    <%= link_to "Sign up now!", register_path, class: "btn btn-large btn-primary" %>
    <%= link_to "Log in as existing user", signin_path, class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>
